* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin font($fontweight, $fontsize, $lineheight ) {

    font-weight: $fontweight;
    font-size: $fontsize ;
    line-height: $lineheight;
}

$white: rgba(255, 255, 255, 1);

.container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;

    &__logo {
        display: flex;
        width: 184px;
        align-items: center;

    }

    &__wrappers {

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(186, 187, 197, 1);

    }
}



.nav {
    display: flex;
    column-gap: 5px;

    @media (max-width:768px){
        display: none;
    }


    &__link {
        text-decoration: none;
        color: $white ;
        min-width: 134px;
        text-transform: uppercase;
        @include font(700, 13px, 15px);
        font-family: "Raleway", serif;
        display: block;
        padding: 32px 0;
        border-bottom: 3px solid transparent;
        text-align: center;
    }

    &:hover {
        color: rgba(231, 20, 20, 1);

    }

    &:active {

        color: rgba(231, 20, 20, 1);

    }
}

.banner {
    background-image: url(fon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 230px 0 120px;
    position: relative;





    &::after {
        content: '';
        position: absolute;

        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 43, 73, 0.8);
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        @include font(900, 64px, 75px);
        font-family: "Raleway", serif;
        color: $white;
        margin-bottom: 31px;


    }

    &__text {
        text-align: center;
        @include font(400, 24px, 28px);
        font-family: "Raleway", serif;
        color: $white;
        margin: 0 auto 79px;
        max-width: 1000px;

    }

    &__container {
        z-index: 1;
        position: relative;
    }

}

.btn {
    display: block;
    max-width: 370px;
    width: 100%;
    background-color: rgba(255, 67, 67, 1);
    margin: 0 auto;
    padding: 26px 10px;
    text-transform: uppercase;
    @include font(900, 24px, 28px);
    font-family: "Raleway", serif;
    color: $white;
    border: none;

    &:hover {
        background-color: rgba(231, 20, 20, 1);
    }

    &:active {
        box-shadow: 4px 4px 30px 0 rgba(255, 67, 67, 1);

    }
}


.items {
    margin: 116px 0 116px;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
         
        column-gap: 31px;
        row-gap: 88px;

        @media(max-width1024px){
            display: grid;
        grid-template-columns: repeat(3, 1fr);
         
        column-gap: 20px;
        row-gap: 88px;
        }


        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
             
        }
    }



    @media(max-width:1024px) {
        max-width: 315px;
    }



    &__wrapper-icon {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-bottom: 0 auto 29px;
        width: 100px;
        height: 100px;
        margin: 0 auto;

    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
        font-family: "Raleway", serif;
        @include font(900, 24px, 28px);


    }

    &__text {
        @include font(400, 18px, 21px);
        text-align: center;
        font-family: "Raleway", serif;

    }
}


.pictures {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 2px;

    @media(max-width:768px) {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    &__wrapper {

        aspect-ratio: 1 / 1;
        overflow: hidden;
        position: relative;

    }

    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255, 67, 67, 0.8);
        opacity: 0;
        padding: 10px;

        &:hover {
            opacity: 1;
        }

    }

    &__title {
        @include font(900, 24px, 28px);
        font-family: "Raleway", serif;
        text-align: center;
        margin-bottom: 20px;
        color: $white
    }

    &__text {
        @include font(400, 18px, 21px);
        font-family: "Raleway", serif;
        text-align: center;
        color: $white;
    }

}

.fotos {
    margin-top: 114px;
    margin-bottom: 114px;

    &__img-wrapper {
        margin-bottom: 30px;
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__foto {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {

        @include font(700, 24px, 28px);
        font-family: "Raleway", serif;
        margin-bottom: 5px;
        color: rgba(45, 48, 51, 1);
    }

    &__text-primary {
        color: rgba(255, 67, 67, 1);
        font-family: "Raleway", serif;
        @include font(400, 18px, 21px);
        text-transform: uppercase;
        margin-bottom: 17px;
    }

    &__text {
        color: rgba(108, 114, 121, 1);
        font-family: "Raleway", serif;
        @include font(400, 18px, 21px)
    }

    &__icons {
        display: flex;
        margin-top: 37px;
        column-gap: 6px
    }

    &__svg {
        border: 1px solid rgba(198, 203, 205, 1);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.integer {
    margin-top: 114px;
    margin-bottom: 114px;
}

.menu {
    display: grid;
    grid-template-columns: 49% 51%;

    @media(max-width:768px) {
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__texts {
        background-color: rgba(92, 50, 73, 1);
        padding: 20px 50px 10px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        width: 100%;
        max-width: 470px;
       
        font-family: "Cardo", serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        font-style: italic;
        color: rgba(255, 255, 255, 1);
    }

    &__text-primary {
        width: 100%;
        max-width: 470px;
        padding-bottom: 116px;
        padding-right: 170px;
        margin-left: 129px;
        font-family: "Raleway", serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        color: rgba(255, 255, 255, 1);
    }
}

.integer__radio {
    display: none;
}

.integer__circle {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(126, 93, 111, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.integer__circle svg {
    opacity: 0;
}

.integer__radio:checked+.integer__label .integer__circle svg {
    opacity: 1;
}

.integer__form {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    margin-top: 31px;
}

.ready {
    margin-top: 114px;
    margin-bottom: 114px;

    &__title {
        text-align: center;
        @include font(500, 30px, 35px);
        font-family: "Raleway", serif;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 5px;
    }

    &__text {
        text-align: center;
        @include font(700, 18px, 21px);
        font-family: "Raleway", serif;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 47px;
    }
}

.footer {
    margin-top: 114px;
    padding-bottom: 24px;

    &__content {
        background-color: rgba(53, 60, 101, 1);
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        padding: 71px 170px 71px;

        @media (max-width:768px){
            display: flex;
            flex-direction: column;
        }

    }

    &__title {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        font-family: "Raleway", serif;
        @include font(700, 18px, 21px);
        text-transform: uppercase;
        margin-bottom: 29px;
    }

    &__text {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        font-family: "Raleway", serif;
        @include font(400, 18px, 21px);
    }

    &__icons {
        display: flex;
        column-gap: 27px;
        justify-content: center;
    }

    &__icon {
        border: 1px solid rgba(198, 203, 205, 1);
        width: 31px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__copyright {
        background-color: rgba(44, 49, 84, 1);
    }

    &__copyright-text {
        color: rgba(108, 114, 121, 1);
        text-align: center;
        font-family: "Raleway", serif;
        @include font(400, 18px, 21px);
        max-width: 370px;
        margin: 0 auto;
        padding: 23px 0 24px;
    }

    &__span {
        color: rgba(255, 255, 255, 1);
    }
}